
@keyframes rotate-in-center{0%{transform:rotate(-360deg);opacity:0}100%{transform:rotate(0);opacity:1}}
@keyframes rotate-out-center{0%{transform:rotate(0);opacity:1}100%{transform:rotate(-360deg);opacity:0}}
@keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

input {
  margin: 2% !important;
}
.icono-fijado{
  float: right;
  color: #fb2c7f;
  margin-top: 10px;
}
.cursiva{
  font-style: italic;
}
#mobile-nav{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  float: right;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: none;
}
#mobile-nav a{
  display: block;
  padding: 7%;
  font-size: 20px;
}
#desktop-nav{
  display: inline;
}
.rosa{
  color: #fb2c7f;
}
.offcanvas{
    display: none;
    margin-right: 5%;
}
.btn-naranja{
  color:#ffb03d;
  border: none;
  background-color: rgba(255, 0, 0, 0);
}
#arrow{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #3D4A53;
  padding: 1%;
  display: none;
  animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
}
#arrow a:hover{
  color: black;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
form, table {
  background-color: #f3f3f3;
  padding: 2.5%;
  margin: 2%;
}

.nomargin {
  margin: 0 !important;
}

.card {
  margin: 3% 2% 2% 9% !important;
}

html {
  font-size: 1rem;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1300px;
}
.img-new{
  width: 100%;
}

.logo {
  margin-left: 15px;
}
.readmore-new{
  text-decoration: none;
}
@media screen and (min-width: 850px) {
  #contenidor {
    width: 80%;
    max-width: 1280px;
  }
}
@media only screen and (max-width: 770px) {
  #desktop-nav{
    display: none;
  }
  #banner h1{
    font-size: 60px !important;
  }
  #newcomment{
    margin: 2px;
  }
  #newcomment input{
    width: 100%;
  }
  .offcanvas{
      display: inline;
  }
  .news{
    text-align: center;
  }
  .inline{
    width: 100% !important;
  }
  .column-new-img{
    width: 300%;
    display: block;
    float: none !important;
  }
  .column-new-img img{
    width: 300%;
  }
  .column-new-text h1{
    font-size: 18px !important;
  }
  .column-new-text p{
    font-size: 15px !important;
  }
  .column-new-text{
    width: 100% !important;
    display: block;
    float: none;
  }
}
.bar {
  width: 100%;
  background-color: grey;
  border-radius: 10px;
}

.progress {
  width: 80%;
  height: 5px;
  background-color: #fb2c7f;
  border-radius: 10px;
}
.inline {
  display: inline;
}
.block{
  display: block;
}
.user-info{
  margin: 20px;
}
.comment-box{
  margin-top: 30px;
  margin-bottom: 30px;
}
.div-progress{
  width: 10%;
  margin: 0px;
}
.likes-box{
  margin-left: 5%;
}
.likes-buttons button{
  background-color: rgba(255, 0, 0, 0.0);
  border: none;
}
.input-response{
  background-color: #fcfcfc;
  padding: 2%;
  border-radius: 20px;
}
.fa-thumbs-down{
  padding: 5px;
  border-radius: 10px;
}
.fa-thumbs-up{
  padding: 5px;
  border-radius: 10px;
}
.add-comment{
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
  margin:0;
  background: none;
}
.btn-responder{
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}
.add-username{
  border: none;
  border-bottom: 1px solid black;
  width: 20%;
  background: none;
}
h1, h2, h3, h4, h5, a {
  font-family: 'Montserrat', sans-serif;
}
.comments p{
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav {
  font-family: 'Montserrat', sans-serif;
  width: 40%;
}
.flat{
  width: 120px;
  background-color: white;
  border:none;
}
/*.responses{
  border-bottom: .5px solid black;
}*/
.response{
  margin-left: 100px;
}
.swing-in-top-fwd{animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both}
#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.item-of-list{
  font-weight: bold;
  font-size: 20px;
  color: #ffb03d;
}
p {
  font-family: 'Roboto', sans-serif;
}
.news:after {
  content: "";
  display: table;
  clear: both;
}
.news{
  border-radius: 10;
  -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.34);
  margin: 2%;
}
.column-new-text{
  float: left;
  width: 60%;
  padding: 10px;
}
.column-new-img{
  float: left;
  width: 40%;
  padding: 10px;
}
.subh{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.firstcharacter {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.nomargin{
  margin:0;
}
.inline{
  width: 70%;
}
#banner {
  background-color: #3d4a53;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #c9c9c9;
  text-align: center;
  width: 100%;
  height: 500px;
}
#banner h1{
  font-size: 70px;
}
#banner h2{
  font-size: 30px;
}
#banner h3{
  font-size: 25px;
}
#banner h2, #banner h3{
  margin: 3px;
  text-align: center;
  max-width: 730px;
}

#leermas {
  margin-top: 20px;
  text-decoration: none;
  padding: 1%;
  border: .5px solid #ffb03d;
  color: #ffb03d;
}
.textoqs{
  text-align: center;
}
#leermas:hover {
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  background-color: #ffb03d;
  color: white;
}
#oculto{
  display: none;
}
.nav-link {
  color: #ffb03d;
  text-decoration: none;
  padding: 1.5%;
  font-weight: bold;
}
li{
  margin: 2%;
}
.nav-link:hover {
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  color: black;
}

.naranja {
  color: #ffb03d;
}

.gris {
  color: #c9c9c9;
}

.icon {
  max-width: 75px;
}
main{
  margin-top: 3%;
}
hr{
  border: .9px solid black;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main div hr{
  border: .6px solid black;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#readmore{
  background-color: white;
  border:none;
}
#readmore:hover{
  cursor:pointer;
}
#libroabierto {
  max-width: 25px;
}

#logos1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

#logos2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

#informar, #ayudar, #proteger {
  margin: 2rem;
}

#quienessomos, #ciberbullying1 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
}

p {
  text-align: justify;
  color: #3d4a53;
  width: 95%;
  margin: auto;
  max-width: 1000px;
}

#texto2 {
  text-align: justify;
  color: #3d4a53;
  width: 95%;
  margin: auto;
  max-width: 1000px;
  font-family: 'Roboto', sans-serif;
}

#cajamenu2 {
  background-color: #ffb03d;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #3d4a53;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

#cajamenu3 {
  background-color: #ffb03d;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #3d4a53;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

#cajamenu4 {
  background-color: #3d4a53;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #c9c9c9;
  text-align: center;
}

#sjo, #easdib {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
